body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ECF0F1; /* אפור בהיר לפי האפיון */
    color: #28536B; /* כחול כהה לפי האפיון */
    direction: rtl;
}
/* עיצוב ה-Header (האזור העליון של האתר) */
header {
    background-color: #f8f9fa; /* צבע רקע בהיר, אתה יכול לשנות למה שתרצה */
    padding: 10px 20px;        /* מרווח פנימי כדי שהלוגו לא יידבק לקצוות המסך */
    display: flex;             /* משתמשים ב-Flexbox כדי לשלוט במיקומים */
    justify-content: flex-start; /* מצמיד את התוכן להתחלה (באתר בעברית זה צד ימין) */
    align-items: center;       /* ממקם את הלוגו בדיוק באמצע מבחינה אנכית */
}
.connect.button {
    margin-left: 15px; 
    background-color: #7EA8BE;
    color: #28536B;
    border-radius: 30px; 
    width: 70px;  
    height: 40px; 
}
.connect.button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
  transform: scale(1.15); 
}

/* עיצוב הלוגו */
.LOGO {
    height: 50px;       
    border-radius: 30px;  
    display: internal;
}
.LOGO:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
  transform: scale(1.15); 
}

.task-card {
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/*סיווג דחיפות */
.time-short {
    border-right: 6px solid #e73c3c; 
    background-color: #fab9b9b3;
}

.time-medium {
    border-right: 6px solid #f5e020; 
    background-color: #f3efb2b8;
}

.container-fluid {
    background-color: #7EA8BE; /*בלוק סרגל ניווט
    color: #28536B; /*כחול בהיר*/
}
.navbar-brand {
    font-size: 2.0rem;
    font-weight: bold;
    color: #28536B;
    
}
.nav-link:hover { /*ריחוף*/
  color: #007bff; 
  transform: scale(1.15); 
}
.navbar-nav .nav-link {
    color: #28536B;
    font-size: 1.0rem;
    margin-top: 0px;
}

/* מלבן דק למטלות שהוסתרו */
.hidden-task-strip {
    background-color: #ffffff;
    border: 1px solid #BDC3C7;
    border-right: 4px solid #7F8C8D;
    padding: 10px 15px; 
    margin-bottom: 8px;
    border-radius: 8px;
}

/* === דרישת חובה: אנימציית CSS לפרויקט === */
.text-animation {
    animation: pulseEffect 2s infinite alternate;
}

@keyframes pulseEffect {
    from { transform: scale(1); opacity: 0.9; }
    to { transform: scale(1.03); opacity: 1; }
}